@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.search_location_list {
    width: 200%;
    padding: 10px 0;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background: #FFF;
    border: 1px solid #edf0f2;
    border-radius: 10px;
    box-shadow: 0 17px 25px 0 rgba(0, 0, 0, 0.35);
    // display: none;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50px;
        z-index: 1;
        transform: translateX(-50%);
        display: block;
    }

    &::before {
        bottom: calc(100% + 1px);
        border-right: 9px solid transparent;
        border-bottom: 9px solid #edf0f2;
        border-left: 9px solid transparent;
    }

    &::after {
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
    }

    &.shown {
        display: block;
    }

    &_title {
        padding: 0 20px;
        font-size: $f12;
        font-weight: 700;
        border-bottom: 1px solid #edf0f2;

        svg {
            margin: 0 10px 0 0;
            display: block;
        }
    }

    ul {
        max-height: 250px;
        overflow-y: auto;

        li {
            height: 50px;
            padding: 0 20px;
            font-size: $f12;
            line-height: 1;
            border-bottom: 1px solid rgba(237, 240, 242, 0.4);
            transition: all 0.25s ease;

            svg {
                @include width-height(20px, 20px);
                margin: 0 10px 0 0;
            }

            b {
                margin: 5px 0 3px;
            }

            &:last-child {
                border-bottom: none;
                border-radius: 0 0 10px 10px;
            }

            &:hover {
                background: #edf0f2;
                cursor: pointer;
            }
        }
    }
}