$f11: 0.8rem;
$f12: 0.86rem;
$f14: 1rem;
$f16: 1.14rem;
$f18: 1.29rem;
$f20: 1.43rem;
$f22: 1.57rem;
$f24: 1.71rem;
$text-color: #1f1f1f;

$primary: #b6d4fe;
$secondary: #d3d6d8;
$success: #badbcc;
$danger: #f5c2c7;
$warning: #ffecb5;
$info: #b6effb;
$light: #fdfdfe;
$dark: #bcbebf;

// Light tones
$primary-light: #cfe2ff;
$secondary-light: #e2e3e5;
$success-light: #d1e7dd;
$danger-light: #f8d7da;
$warning-light: #fff3cd;
$info-light: #cff4fc;
$light-light: #fefefe;
$dark-light: #d3d3d4;

// Dark tones
$primary-dark: #084298;
$secondary-dark: #41464b;
$success-dark: #0f5132;
$danger-dark: #842029;
$warning-dark: #664d03;
$info-dark: #055160;
$light-dark: #636464;
$dark-dark: #141619;
