@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.form {
  &_group {
    position: relative;

    .phone_country_plus {
      position: absolute;
      top: 24px;
      left: 16px;
      font-weight: 800;

      & ~ input {
        padding-left: 23px;
      }
    }
  }

  &_control {
    @include width-height(100%, 50px);
    padding: 0 16px;
    font-weight: 800;

    &.filled {
      padding-top: 20px;
    }

    &:is(textarea) {
      height: 100px;
      resize: none;
    }

    &.has_error {
      border-color: #d00;
    }
  }

  &_label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: all 0.25s ease;

    &.has_filled {
      top: 6px;
      transform: none;
    }

    &.has_error {
      color: #d00;
    }
  }

  &_helper {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    color: #d00;
  }

  &_radio {
    display: none;

    & ~ label {
      font-weight: 600;

      &::before {
        @include width-height(24px, 24px);
        flex: 0 0 24px;
        content: "";
        border: 2px solid #ddd;
        border-radius: 100%;
        display: block;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &:checked {
      & ~ label {
        &::before {
          background: $primary-dark;
          border-color: $primary-dark;
        }

        &::after {
          @include width-height(6px, 12px);
          content: "";
          position: absolute;
          top: 5px;
          left: 9px;
          transform: rotate(45deg);
          border-right: 2px solid #fff;
          border-bottom: 2px solid #fff;
        }
      }
    }
  }

  &_checkbox {
    display: none;

    & ~ label {
      font-size: $f14;
      color: $text-color;
      text-transform: capitalize;

      &::before {
        @include width-height(18px, 18px);
        flex: 0 0 18px;
        content: "";
        border: 2px solid #ddd;
        border-radius: 2px;
        display: block;
      }
    }

    &:checked {
      & ~ label {
        &::before {
          background: $primary-dark;
          border-color: $primary-dark;
        }

        &::after {
          @include width-height(10px, 5px);
          content: "";
          position: absolute;
          top: 7px;
          left: 4px;
          z-index: 1;
          transform: rotate(-45deg);
          border-left: 2px solid #fff;
          border-bottom: 2px solid #fff;
          display: block;
        }
      }
    }
  }
}
